In [1]:
import pandas as pd
import numpy as np

In [3]:
suppliers=pd.read_csv("./data/northwind-mongo-master/suppliers _del_1.csv",usecols=["SupplierID","CompanyName","City"])
suppliers.head()

   SupplierID                         CompanyName         City
0           1                      Exotic Liquids       London
1           2          New Orleans Cajun Delights  New Orleans
2           3           Grandma Kelly's Homestead    Ann Arbor
3           4                       Tokyo Traders        Tokyo
4           5  Cooperativa de Quesos 'Las Cabras'       Oviedo

In [5]:
products=pd.read_csv("./data/northwind-mongo-master/products_del_1.csv",usecols=["ProductID","ProductName","SupplierID"])
products.head()

   ProductID                   ProductName  SupplierID
0          1                          Chai           1
1          2                         Chang           1
2          3                 Aniseed Syrup           1
3          4  Chef Anton's Cajun Seasoning           2
4          5        Chef Anton's Gumbo Mix           2

In [6]:
podAndSup = suppliers.merge(products, on="SupplierID", how="inner")

In [9]:
len(suppliers)

27

In [10]:
len(products)

75

In [11]:
len(podAndSup)

70

In [13]:
prodAndSupOuter = products.merge(suppliers, how="outer", on="SupplierID", indicator=True)

In [14]:
prodAndSupOuter

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
0,1.0,Chai,1,Exotic Liquids,London,both
1,2.0,Chang,1,Exotic Liquids,London,both
2,3.0,Aniseed Syrup,1,Exotic Liquids,London,both
3,4.0,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans,both
4,5.0,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans,both
...,...,...,...,...,...,...
71,57.0,Ravioli Angelo,26,Pasta Buttini s.r.l.,Salerno,both
72,60.0,Camembert Pierrot,28,Gai p√¢turage,Annecy,both
73,61.0,Sirop d'√©rable,29,For√™ts d'√©rables,Ste-Hyacinthe,both
74,62.0,Tarte au sucre,29,For√™ts d'√©rables,Ste-Hyacinthe,both
75,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only

In [15]:
xyz=prodAndSupOuter["_merge"]=="left_only"
prodAndSupOuter[xyz]

    ProductID          ProductName  SupplierID CompanyName City     _merge
27       22.0  Gustaf's Kn√§ckebr√∂d           9         NaN  NaN  left_only
28       23.0             Tunnbr√∂d           9         NaN  NaN  left_only
48       36.0          Inlagd Sill          17         NaN  NaN  left_only
49       37.0           Gravad lax          17         NaN  NaN  left_only
50       73.0           R√∂d Kaviar          17         NaN  NaN  left_only

In [16]:
zyx=prodAndSupOuter["_merge"]=="right_only"
prodAndSupOuter[zyx]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
75,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only