In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
%matplotlib inline

In [4]:
cities=["London","Berlin","Warsaw","Paris"]
cities

['London', 'Berlin', 'Warsaw', 'Paris']

In [5]:
pd.Series(cities)

0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object

In [7]:
primeNumbers=(2,3,5,7,11,13,17,19)
pd.Series(primeNumbers)

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
dtype: int64

In [8]:
logicalValues=[True,False,True]
pd.Series(logicalValues)

0     True
1    False
2     True
dtype: bool

In [12]:
danefilmu={"film1":1960,
           "film2":2002,
           "film3":3754,
           "Jebać Disa orka zwisa skurwysyna syna diabła":2017}
danefilmu

{'film1': 1960,
 'film2': 2002,
 'film3': 3754,
 'Jebać Disa orka zwisa skurwysyna syna diabła': 2017}

In [13]:
pd.Series(danefilmu)

film1                                           1960
film2                                           2002
film3                                           3754
Jebać Disa orka zwisa skurwysyna syna diabła    2017
dtype: int64