In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [5]:
salary=pd.read_csv("./data/StackOverflowDeveloperSurvey.csv",usecols=["Salary"],squeeze=True).dropna()
salary

2        113750.000000
14       100000.000000
17       130000.000000
18        82500.000000
22       100764.000000
             ...
51371     74193.548387
51378    107526.881720
51382     32258.064516
51387     58000.000000
51390     40000.000000
Name: Salary, Length: 12891, dtype: float64

In [6]:
salary.head(5)

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [7]:
len(salary)
#ile ludzi poda≈Ço

12891

In [10]:
print(min(salary))
#najmniejsze
print(max(salary))
#max

0.0
197000.0

In [11]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [12]:
dict(salary.head())

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

In [13]:
listSalarySorted=sorted(salary,reverse=True)

In [16]:
listSalarySorted[0:5]

[197000.0, 195000.0, 195000.0, 195000.0, 195000.0]

In [17]:
salary.name="Salary of a person"
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary of a person, dtype: float64