In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [4]:
x=pd.read_csv("./data/StackOverflowDeveloperSurvey2018.csv.",low_memory=False,usecols=["ConvertedSalary"],squeeze=True)

In [5]:
x.mean()

95780.86178776571

In [6]:
x.median()

55075.0

In [7]:
x.std()

202348.21562528735

In [8]:
x.max()

2000000.0

In [9]:
fortune=pd.read_csv("./data/Fortune_500_2017.csv",usecols=["Title","Employees"],index_col="Title")
fortune.head()

                    Employees
Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000

In [10]:
fortune.idxmax()

Employees    Walmart
dtype: object

In [12]:
fortune.loc[fortune.idxmax()]

         Employees
Title
Walmart    2300000

In [13]:
fortune.idxmin()

Employees    A-Mark Precious Metals
dtype: object

In [14]:
fortune.loc[fortune.idxmin()]

                        Employees
Title
A-Mark Precious Metals         83