In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

animals=pd.read_csv("./data/sleep_time.csv",index_col="ID")
animals=animals.fillna(value=0)
animals.head()

                          name       genus   vore         order  ... sleep_cycle  awake  brainwt   bodywt
ID                                                               ...
1                      Cheetah    Acinonyx  carni     Carnivora  ...    0.000000   11.9  0.00000   50.000
2                   Owl monkey       Aotus   omni      Primates  ...    0.000000    7.0  0.01550    0.480
3              Mountain beaver  Aplodontia  herbi      Rodentia  ...    0.000000    9.6  0.00000    1.350
4   Greater short-tailed shrew     Blarina   omni  Soricomorpha  ...    0.133333    9.1  0.00029    0.019
5                          Cow         Bos  herbi  Artiodactyla  ...    0.666667   20.0  0.42300  600.000

[5 rows x 11 columns]

In [7]:
voreherbi= animals["vore"]=="herbi"
herbi = animals.where(voreherbi)
herbi.head()

               name       genus   vore         order  conservation  ...  sleep_rem  sleep_cycle  awake  brainwt  bodywt
ID                                                                  ...
1               NaN         NaN    NaN           NaN           NaN  ...        NaN          NaN    NaN      NaN     NaN
2               NaN         NaN    NaN           NaN           NaN  ...        NaN          NaN    NaN      NaN     NaN
3   Mountain beaver  Aplodontia  herbi      Rodentia            nt  ...        2.4     0.000000    9.6    0.000    1.35
4               NaN         NaN    NaN           NaN           NaN  ...        NaN          NaN    NaN      NaN     NaN
5               Cow         Bos  herbi  Artiodactyla  domesticated  ...        0.7     0.666667   20.0    0.423  600.00

[5 rows x 11 columns]

In [8]:
len(herbi)

83

In [11]:
herbi=herbi.dropna()
len(herbi)

32

In [12]:
carni= animals.where(animals["vore"]=="carni")
len(carni)

83

In [13]:
carni.dropna(inplace=True)

In [14]:
len(carni)

19

In [15]:
omni = animals.where(animals["vore"]=="omni")
len(omni)

83

In [25]:
omni.dropna()
len(omni)

20

In [26]:
print("Średni sen roślonożerców:", omni["sleep_total"].mean())
print("Średni sen mięsożerców:", herbi["sleep_total"].mean())
print("Średni sen wszystkożerców:", carni["sleep_total"].mean())

Średni sen roślonożerców: 10.924999999999999
Średni sen mięsożerców: 9.509375
Średni sen wszystkożerców: 10.378947368421054

In [30]:
animals.query("(sleep_total > 14) & (vore == 'herbi') & (bodywt > 1)")

                name       genus   vore     order conservation  ...  sleep_rem  sleep_cycle  awake  brainwt  bodywt
ID                                                              ...
3    Mountain beaver  Aplodontia  herbi  Rodentia           nt  ...        2.4     0.000000    9.6      0.0    1.35
6   Three-toed sloth    Bradypus  herbi    Pilosa            0  ...        2.2     0.766667    9.6      0.0    3.85

[2 rows x 11 columns]