In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
numbers=[1,2,3,11,12,13]
numbers

[1, 2, 3, 11, 12, 13]

In [3]:
numSeries=pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [4]:
numSeries >10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [5]:
numSeries.where(numSeries>10)

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [6]:
numSeries.where(numSeries>10,other=-1)

0    -1
1    -1
2    -1
3    11
4    12
5    13
dtype: int64

In [7]:
numSeries.where(numSeries>10).dropna()

3    11.0
4    12.0
5    13.0
dtype: float64

In [8]:
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [9]:
numSeries.where(numSeries>10,inplace=True)
numSeries

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [10]:
numSeries.dropna(inplace=True)
numSeries

3    11.0
4    12.0
5    13.0
dtype: float64

In [11]:
numSeries=pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [17]:
#numSeries.where(numSeries>10,inplace=True).dropna(inplace=True)

In [13]:
numSeries.where(numSeries>10,inplace=True)
numSeries.dropna(inplace=True)

In [14]:
numSeries

3    11.0
4    12.0
5    13.0
dtype: float64

In [15]:
numSeries=pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [16]:
numSeries.filter([0,2,4])

0     1
2     3
4    12
dtype: int64